@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("resources/img1.jpg");
    background-position: center center;
    background-size: max(1200px 100vw);
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.4;
    background-color: black;
    position: absolute;
    top: 0%;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    position: relative;
    z-index: 10;
    width: 114px;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: "Poppins", sans-serif;
    height: calc(100% - 62px);
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
    padding: 0px 30px;
}

.hero>:nth-child(1) {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.hero>:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero>:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.sepration {
    position: relative;
    z-index: 20;
    height: 8px;
    background-color: rgb(59, 59, 59);
}

.btn {
    padding: 3px 8px;
    background-color: rgb(211 208 208 / 22%);
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.167);
}



.btn-red {
    background-color: red;
    color: white;
    padding: 9px 24px;
    border-radius: 4px;
    font-size: 20px;
}

.hero-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    color: white;
    font-weight: 400;
    padding: 10px 100px 16px 14px;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(229, 229, 229, 0.7);
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 70vw;
    margin: auto;
}

.secimg {
    position: relative;
}

.secimg img {
    width: 35vw;
    position: relative;
    z-index: 10;
}

.secimg video {
    width: 31vw;
    position: absolute;
    top: 51px;
    right: 0px;

}

.first>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.first>div :nth-child(1) {
    font-size: 48px;
}

.first>div :nth-child(2) {
    font-size: 24px;
}

.faq {
    background-color: black;
    color: white;
}

.faq h2 {
    text-align: center;
    padding: 34px;
    font-size: 48px;
    font-weight: 400;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: rgb(60, 59, 59);
    padding: 20px;
    max-width: 70vw;
    margin: 15px auto;
    font-size: 20px;
    cursor: pointer;
}

.faqbox:hover {
    background-color: rgb(104, 104, 104);
}

.herofooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0px 30px 0px;
}

.herofooter :nth-child(1) {
    font-size: 20px;
    padding: 23px;
}

.hero-button2 {
    display: flex;
    gap: 10px;

}

.hero-button2 input {
    background-color: black;
    border: 1px solid rgb(123, 122, 122);
    border-radius: 4px;
    color: white;
}

footer {
    color: white;
    max-width: 60vw;
    margin: 0px auto 10px;
    padding: 14px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;

}

.question {
    padding: 34px 0px;
}

.footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-item button{
    background-color: black;
    color: white;
    width: 70px;
    border: 1px solid rgb(134, 133, 133);
    border-radius: 3px;
    padding: 5px;
}